/* Font */
@font-face 
{
  font-family: "neou-thin";
  src:url("../font/Neou-Thin.ttf");
}

/* Background */
body
{
  background: white;
}

#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: darkslategray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
}

/* Sidebar elements */
.basic a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;

  font-family: "neou-thin";
  font-size: 20px;

  /* Skyblue */
  background: #44b4ff;
  background: -moz-linear-gradient(top, white 0%, #edf2f9 100%);
  background: -webkit-linear-gradient(top, white 0%,#edf2f9 100%);
  background: linear-gradient(to bottom, white 0%,#edf2f9 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b4ff', endColorstr='#1e6dff',GradientType=0 );
}
.basic a:hover
{
  /* Orange */ 
  background: #ff8944;
  background: -moz-linear-gradient(top, #ff8944 0%, #ff6d1e 100%);
  background: -webkit-linear-gradient(top, #ff8944 0%,#ff6d1e 100%);
  background: linear-gradient(to bottom, #ff8944 0%,#ff6d1e 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b4ff', endColorstr='#1e6dff',GradientType=0 );
}

