#signin-panel 
{
  position: absolute;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 50%;
  height: 50%;

  margin:auto;

  border: 3px solid orange;
}

#signin-title 
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-size: 32px;

  background: #ff8944;
  background: -moz-linear-gradient(top, #ff8944 0%, #ff6d1e 100%);
  background: -webkit-linear-gradient(top, #ff8944 0%,#ff6d1e 100%);
  background: linear-gradient(to bottom, #ff8944 0%,#ff6d1e 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8944', endColorstr='#ff6d1e',GradientType=0 );

  /* font-family: Neou-thin; */
  
  
}

#signin-button 
{
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-size: 32px; 
}
