@font-face {
  font-family: "neou-thin";
  src:url("../resource/font/Neou-Thin.ttf");
}

#title-center-orange 
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-family: "neou-thin";
  font-size: 32px;

  background: #ff8944;
  background: -moz-linear-gradient(top, #ff8944 0%, #ff6d1e 100%);
  background: -webkit-linear-gradient(top, #ff8944 0%,#ff6d1e 100%);
  background: linear-gradient(to bottom, #ff8944 0%,#ff6d1e 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8944', endColorstr='#ff6d1e',GradientType=0 );
}

#title-center-sky 
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-family: "neou-thin";
  font-size: 32px;

  background: #44b4ff;
  background: -moz-linear-gradient(top, #44b4ff 0%, #1e6dff 100%);
  background: -webkit-linear-gradient(top, #44b4ff 0%,#1e6dff 100%);
  background: linear-gradient(to bottom, #44b4ff 0%,#1e6dff 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b4ff', endColorstr='#1e6dff',GradientType=0 );
}